@model _222LTC02_2050531200110_NguyenDucCuong.Models.GioHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GioHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThucPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThucPham.ThucPhamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiMuaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiMuaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GioHangId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
