@model IEnumerable<_222LTC02_2050531200110_NguyenDucCuong.Models.GioHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThucPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiMuaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThucPham.ThucPhamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiMuaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GioHangId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GioHangId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GioHangId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
